body{
  text-align: center;
  background: #facb09;
  font-family: sans-serif;
  font-weight: 100;
}

h1{
  color: #20418c;
  font-weight: 100;
  font-size: 30px;
  margin: 40px 0px 40px;
}

#clockdiv{
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div{
  padding: 10px;
  border-radius: 3px;
  background: #facb09  ;
  display: inline-block;
}

#clockdiv div > span{
  padding: 20px;
  border-radius: 3px;
  background: #20418c;
  display: inline-block;
}

.smalltext{
  padding-top: 5px;
  font-size: 16px;
  color:#20418c;
}
.support-img{
    width:100%;
}